html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    height: 70%;
    margin-top: 100px;
    background-color: darksalmon;

    display: grid;

    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: 20% 10% 10% 30% 30%;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "tab1 tab2 tab3 tab4"
    "main main main banner1"
    "main main main banner2";
}

.container div {
    text-align: center;
    font-size: larger;
    border: 1px solid;
}

.item1 {
    grid-area: header
}

.item2 {
    grid-area: nav;
}

.item3 {
    grid-area:  tab1;
}

.item4 {
    grid-area: tab2;
}

.item5 {
    grid-area: tab3;
}

.item6 {
    grid-area: tab4;
}

.item7 {
    grid-area: main;
}

.item8 {
    grid-area: banner1;
}

.item9 {
    grid-area: banner2;
}