html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    height: 80%;
    background-color: lightsteelblue;
    margin: auto;
    margin-top: 10%;

    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: repeat (5, 1fr);

    gap: 20px 20px;

    grid-template-areas: 
        "header header header header"
        "navmenu navmenu navmenu navmenu"
        "tab1 tab2 tab3 tab4"
        "maincontent maincontent maincontent banner1"
        "maincontent maincontent maincontent banner2";


}

.header {
    background-color: palegoldenrod;
    grid-area: header;
}

.navmenu {
    background-color: peachpuff;
    grid-area: navmenu;
}

.tab1 {
    background-color: pink;
    grid-area: tab1;
}

.tab2 {
    background-color: thistle;
    grid-area: tab2;
}

.tab3 {
    background-color: rosybrown;
    grid-area: tab3;
}

.tab4 {
    background-color: salmon;
    grid-area: tab4;

}

.maincontent {
    background-color: palevioletred;
    grid-area: maincontent;
}

.banner1 {
    background-color: pink;
    grid-area: banner1;
}

.banner2 {
    background: plum;
    grid-area: banner2; 
}